/*General styles */

:root {
  --blue: #21abca;
  --golden: #f49c1e;
  --pink: #e95b9e;
  --off-white: #f4f4f4;
  --green: #b7d158;
  --grey: #cac8e4;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  width: 100%;
  color: black;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

main *,
main *::before,
main *::after {
  box-sizing: border-box;
}

h1 {
  font-family: Roboto;
  font-weight: 300;
  font-style: normal;
  color: black;
  font-size: 42px;
}

h2 {
  font-family: Roboto;
  font-weight: 700;
  font-style: normal;
  color: black;
  font-size: 2.5rem;
}

main p {
  font-size: 1rem;
  color: black;
  font-family: inherit;
  line-height: 1.625rem;
  font-weight: 400;
  margin: 1em 0;
}

a {
  text-decoration: none;
  color: black;
}

img {
  max-width: 100%;
  border: none;
  image-rendering: -webkit-optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}

.primary__btn {
  font-weight: bold;
  border-radius: 28px;
  background-color: var(--blue);
  padding: 10px 18px;
  display: inline-block;
  color: white;
  font-size: 14px;
  line-height: 18px;
  margin-top: 16px;
}

.btn--d {
  display: none;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.u {
  text-decoration: underline;
}

.text-blue {
  color: var(--blue);
}

.text-golden {
  color: var(--golden);
}

.text-pink {
  color: var(--pink);
}

.text-grey {
  color: var(--grey);
}

.bg--pink {
  background-color: var(--pink);
}

.bg--grey {
  background-color: var(--grey);
}

.bg--green {
  background-color: var(--green);
}

.bg--blue {
  background-color: var(--blue);
}

.bg--white {
  background-color: white;
}

.center {
  text-align: center;
}

.container {
  max-width: 352px;
  margin: 0 auto;
  padding: 1rem;
}

.section__title {
  font-size: 38px;
  font-weight: 400;
  text-align: center;
  font-family: "Abril Fatface", cursive;
  line-height: 1;
  margin: 0.8em 0;
}

.section__subtitle {
  font-size: 14px;
  max-width: 352px;
  margin: 1rem auto;
  line-height: 1.3;
}

/* Hero Section */

.hero {
  padding: 0;
}

.hero .container {
  max-width: 100%;
  padding: 0;
  position: relative;
}

.hero__video {
  position: relative;
  font-size: 0;
  overflow: hidden;
}

.hero__video video {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  width: 100%;
  min-height: 350px;
  max-height: 550px;
  object-fit: cover;
  z-index: 2;
}

.hero__video::after {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  bottom: -1px;
  height: 141px;
  background-image: url("./images/wave-shape.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100%;
  z-index: 2;
}

.hero__animation {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 135%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: -40px;
  z-index: 3;
}

.hero__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 10%);
  z-index: 3;
}

.hero__cta .primary__btn {
  margin-top: 6px;
}

.hero__video svg {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  bottom: 0;
}
/* Safari fixes */
@media not all and (min-resolution: 0.001dpcm) {
  @media {
    .hero__video::after {
      width: calc(100% + 3px) !important;
    }
  }
}

/* Welcome section */
.welcome {
  background-image: url("./images/purple-paint-mb.png");
  background-repeat: no-repeat;
  background-position: left 60%;
  background-size: 60px;
  padding-bottom: 24px;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
}

.welcome__img {
  display: none;
}

.welcome .section__title {
  text-align: left;
}

.welcome .section__subtitle {
  text-align: left;
}

/* --trending-- */
.trending {
  background-color: var(--off-white);
  padding: 48px 0;
  position: relative;
  overflow-x: clip;
  margin-top: 32px;
}

.trending iframe {
  min-height: 520px;
  z-index: 1;
  position: relative;
}

.trending iframe .YM_EventCardList::-webkit-scrollbar {
  display: none;
}
.trending__outline {
  text-align: center;
  overflow: hidden;
  width: 100%;
  position: absolute;
  top: -34px;
  z-index: 0;
}
.trending__outline div {
  font-size: 68px;
  font-weight: bold;
  letter-spacing: 5px;
  display: block;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #e3e3e3;
  color: transparent;
  line-height: 60px;
  user-select: none;
  opacity: 0.5;
}
.trending__outline div:nth-child(n + 4) {
  display: none;
}
.trending__cta--m {
  text-align: center;
}
.trending__cta--d {
  display: none;
}

/* --Plan a NightOut-- */

.nightout {
  padding: 56px 0 86px;
  background-image: url("./images/green-circle.svg"), url("./images/sea-green-circle.svg");
  background-repeat: no-repeat;
  background-position: center -150px, center calc(100% + 150px);
  background-size: 190px;
  color: white;
}

.nightout .container {
  max-width: 450px;
  padding: 0;
}

.nightout .section__title {
  text-align: center;
  margin-bottom: 1.2em;
}

.nightout__card-image {
  position: relative;
}

.nightout__card--borders {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 14px 0 14px;
  border: 7px solid #d5d2d2;
  border-bottom: 0;
}

.nightout__card-content {
  background-color: #d5d2d2;
  padding: 0 22px;
  margin: 0 14px;
}

.nightout__card.card-4 .nightout__card-content {
  padding: 0 20px;
}

.nightout__card-content .hover-content {
  opacity: 0;
  height: 0;
  transform: translateY(-10%);
  transition: transform 0.4s;
}

.nightout__card-image img {
  filter: grayscale(1);
  padding-top: 21px;
}

.nightout__card-title {
  font-family: "Abril Fatface", cursive;
  font-size: 28px;
  font-weight: normal;
  color: white;
  margin: 0 auto 8px;
  padding-top: 8px;
  text-align: left;
}

.nightout__card-text {
  font-size: 14px;
  color: white;
  text-align: left;
  line-height: 1.3;
  margin-bottom: 8px;
}

.nightout__card-btn {
  text-align: left;
}

.nightout__card-btn .btn {
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  background-color: white;
  border-radius: 22px;
  padding: 8px 14px;
  margin: 6px 0 20px;
  min-width: 150px;
  text-align: center;
}

@media (max-width: 960px) {
  .active.center .nightout__card .hover-content {
    opacity: 1;
    height: 100%;
    transform: translateY(0%);
  }

  .active.center .nightout__card .nightout__card-image img {
    filter: grayscale(0);
    filter: none;
  }

  .active.center .nightout__card.card-1 .nightout__card--borders {
    border-color: #ed5a9c;
  }

  .active.center .nightout__card.card-1 .nightout__card-content {
    background-color: #ed5a9c;
  }

  .active.center .nightout__card.card-1 .nightout__card-btn .btn {
    color: #ed5a9c;
  }

  .active.center .nightout__card.card-2 .nightout__card--borders {
    border-color: #f79d31;
  }

  .active.center .nightout__card.card-2 .nightout__card-content {
    background-color: #f79d31;
  }

  .active.center .nightout__card.card-2 .nightout__card-btn .btn {
    color: #f79d31;
  }

  .active.center .nightout__card.card-3 .nightout__card--borders {
    border-color: #00abc8;
  }

  .active.center .nightout__card.card-3 .nightout__card-content {
    background-color: #00abc8;
  }

  .active.center .nightout__card.card-3 .nightout__card-btn .btn {
    color: #00abc8;
  }

  .active.center .nightout__card.card-4 .nightout__card--borders {
    border-color: #b7d259;
  }

  .active.center .nightout__card.card-4 .nightout__card-content {
    background-color: #b7d259;
  }

  .active.center .nightout__card.card-4 .nightout__card-btn .btn {
    color: #b7d259;
  }
}

.cta__banner {
  background-image: url(./images/cta__banner-bg.png);
  background-position: center center;
  background-size: cover;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
}

.cta__banner .container {
  position: relative;
  overflow-x: clip;
  max-width: 436px;
  padding-bottom: 30px;
}

.cta__banner .section__title {
  font-size: 34px;
  text-align: left;
  color: white;
  max-width: 250px;
  z-index: 2;
  position: relative;
  margin-top: 14px;
  margin-bottom: 28px;
  line-height: 1.2;
}

.cta__banner .primary__btn {
  background-color: white;
  color: var(--blue);
  margin-top: 12px;
  z-index: 2;
  position: relative;
  font-size: 14px;
}

.cta__banner .container::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 0;
  z-index: 1;
  width: 210px;
  height: 320px;
  background-image: url("./images/cta-banner-mb.png");
  background-repeat: no-repeat;
  background-size: 100%;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
}

/* --Fomo section-- */
.fomo__section {
  padding-top: 22px;
}

.fomo__animation {
  pointer-events: none;
  width: 90%;
  margin: 0 auto;
}

.fomo__animation--desktop {
  display: none;
}

.fomo__animation--mobile {
  margin-top: -80px;
  margin-bottom: -70px;
  padding: 0;
}

#fomoAnimationPlay {
  font-size: 0;
  height: 1px;
  width: 100%;
  position: relative;
}

/* --what we do-- */
.whatwedo .container {
  padding: 0;
  max-width: 500px;
}

.whatwedo .section__title {
  margin-top: 40px;
  margin-bottom: 50px;
}

.whatwedo__card {
  display: flex;
  flex-wrap: wrap;
}

.whatwedo__card-image {
  font-size: 0;
  min-height: 190px;
  width: 100%;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
}

.whatwedo__card.card-1 .whatwedo__card-image {
  background-image: url("./images/whatwedo-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.whatwedo__card.card-2 .whatwedo__card-image {
  background-image: url("./images/whatwedo-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

.whatwedo__card.card-3 .whatwedo__card-image {
  background-image: url("./images/whatwedo-3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.whatwedo__card-content {
  color: white;
  padding: 20px;
  position: relative;
}

.whatwedo__card-title {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.2;
  color: white;
  letter-spacing: 3px;
  margin: 0;
}

.whatwedo__card-text {
  font-size: 14px;
  color: white;
  line-height: 1.3;
  margin: 6px 0;
}

.whatwedo__card-link a {
  font-size: 14px;
  font-weight: bold;
  color: white;
  text-decoration: underline;
}

.whatwedo__card .whatwedo__card-content::before {
  content: "";
  display: block;
  position: absolute;
  top: -45px;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
}

.whatwedo__card.card-1 .whatwedo__card-content {
  background-color: #ea5b9e;
}

.whatwedo__card.card-1 .whatwedo__card-content::before {
  background-image: url("./images/pink-paint-m.png");
}

.whatwedo__card.card-2 .whatwedo__card-content {
  background-color: #f49c1e;
}

.whatwedo__card.card-2 .whatwedo__card-content::before {
  background-image: url("./images/orange-paint-m.png");
}

.whatwedo__card.card-3 .whatwedo__card-content {
  background-color: #b7d157;
}

.whatwedo__card.card-3 .whatwedo__card-content::before {
  background-image: url("./images/green-paint-m.png");
}

.whatwedo__card-content > * {
  transform: scale(0.85);
}

@media (min-width: 360px) {
  .whatwedo__card {
    flex-wrap: nowrap;
  }

  .whatwedo__card-content {
    padding: 16px 6px;
  }

  .whatwedo__card > div {
    width: 50%;
  }

  .whatwedo__card-title {
    line-height: 1.1;
  }

  .whatwedo__card-text {
    margin: 16px 0;
  }

  .whatwedo__card.card-2 .whatwedo__card-image {
    order: 2;
  }

  .whatwedo__card.card-2 .whatwedo__card-content {
    text-align: right;
  }

  .whatwedo__card-content > * {
    transform: scale(0.9);
  }

  .whatwedo__card .whatwedo__card-content::before {
    top: -27px;
  }
}

@media (min-width: 500px) {
  .whatwedo__card-image {
    width: 250px;
    height: 250px;
  }

  .whatwedo__card-content > * {
    transform: scale(0.95);
  }

  .whatwedo__card-content {
    display: flex;
    align-items: center;
  }

  .whatwedo__card-content {
    padding: 22px 14px;
  }

  .whatwedo__card .whatwedo__card-content::before {
    top: -36px;
  }
}

/* --PaintNite Hey-- */
.pnHey {
  overflow-x: hidden;
  padding-top: 24px;
  padding-bottom: 48px;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
}

.pnHey .section__title {
  margin-bottom: 16px;
}

.pnHey p {
  font-size: 12px;
  line-height: 1.3;
  margin-bottom: 18px;
}

.pnHey .section__subtitle {
  letter-spacing: 2px;
  font-weight: bold;
  max-width: 250px;
  font-size: 12px;
}

.pnHey__gallery {
  display: none;
}

.pnHey__images {
  text-align: center;
  position: relative;
}

.pnHey__images img {
  max-width: 280px;
  padding-left: 15px;
  padding-bottom: 36px;
  display: block;
  margin: 0 auto;
}

.pnHey__images::before {
  content: "";
  position: absolute;
  width: 470px;
  height: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  background-image: url("./images/purple-paint.png"), url("./images/pink-paint.png");
  background-repeat: no-repeat;
  background-position: 0 center, 240px center;
  background-size: 220px;
}

.pnHey__btn {
  text-align: center;
}

.pnHey .primary__btn {
  min-width: 140px;
}

/* --Rewards banner-- */
.rewards__banner {
  background-color: var(--off-white);
  padding: 32px 0 32px;
  margin-top: 72px;
  position: relative;
}

.rewards__banner::before {
  content: "";
  width: 92px;
  height: 93px;
  background-image: url("./images/social-icon.png");
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  position: absolute;
  top: -65px;
  left: 50%;
  transform: translateX(-50%);
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
}

.rewards__banner .section__title {
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  position: relative;
  z-index: 2;
}

.rewards__btn {
  text-align: center;
  z-index: 2;
  position: relative;
}

.rewards__btn .primary__btn {
  padding: 10px 22px;
  min-width: 140px;
  margin-top: 0;
}

.rewards__images {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 0;
  left: 0;
  right: 0;
}

.rewards__images img {
  position: relative;
  width: 150px;
  max-width: 25%;
  height: 100%;
}

.rewards__images .img-1 {
  top: 90px;
}

.rewards__images .img-2 {
  top: -56px;
}

/* --Social media section--*/
.social__section {
  padding-top: 85px;
  background-image: url("./images/green-circle.svg");
  background-repeat: no-repeat;
  background-position: calc(100% + 180px) 28px;
  background-size: 250px;
}

.social__section .container {
  max-width: 100%;
  padding: 0;
}

.social__section .section__title {
  text-align: left;
  line-height: 1.2;
  max-width: 280px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}

.social__gallery {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 1rem;
  max-width: 352px;
  margin: 0 auto;
}

.social__gallery img {
  width: calc(50% - 10px);
  margin-bottom: 10px;
  margin: 5px;
}

.social__gallery img:nth-child(n + 5) {
  display: none;
}

.social__outline {
  text-align: center;
  overflow: hidden;
  background-color: #ea5b9e;
  margin-top: -130px;
  position: relative;
  z-index: -1;
}

.social__outline div {
  font-size: 2.6rem;
  font-weight: bold;
  display: block;
  -webkit-text-fill-color: var(--pink);
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: rgba(255, 255, 255, 0.5);
  color: var(--pink);
  line-height: 1;
  user-select: none;
}

.social__hastag {
  display: none;
}
/* Email form subscription */
.email__subs {
  background-color: var(--off-white);
  padding: 40px 0;
}
.email__subs .container {
  max-width: 450px;
  padding: 0;
}
.email__subs .section__title {
  margin-top: 0;
}
.form__wrapper {
  max-width: 650px;
  width: 100%;
  height: 85px;
  margin: 0 auto;
  transform: scale(0.85);
}

/* --Desktop styles-- */

@media (min-width: 960px) {
  .section__subtitle {
    max-width: 610px;
    margin: 1rem auto;
    font-size: 16px;
  }

  .btn--m {
    display: none;
  }

  .btn--d {
    display: block;
  }

  .primary__btn {
    font-size: 16px;
    padding: 12px 22px;
  }

  .container {
    max-width: 1164px;
    margin: 0 16px;
    margin: 0 auto;
  }

  .section__title {
    font-size: 45px;
  }

  /* Hero section */

  .hero .container {
    max-width: 100%;
    padding: 0;
  }

  .hero__video::after {
    display: none;
  }

  .hero__animation {
    max-width: 100%;
    margin-top: -60px;
  }

  .hero__cta .primary__btn {
    margin-top: 16px;
  }

  .hero__video video {
    clip-path: url(#svgClip);
    -webkit-clip-path: url(#svgClip);
  }

  /* Safari fixes */
  @media not all and (min-resolution: 0.001dpcm) {
    @media {
      .hero__video video {
        clip-path: none;
        -webkit-clip-path: none;
      }

      .welcome .container {
        background-image: none !important;
      }

      .hero__video::after {
        display: block;
      }
      .hero__video::after {
        width: calc(100% + 3px) !important;
      }
    }
  }

  /* Welcome section */
  .welcome {
    background-image: none;
    margin-top: -43px;
    position: relative;
    z-index: 1;
  }

  .welcome .container {
    background-image: url("./images/purple-paint-desktop.svg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: left -170px;
    background-size: 300px;
    position: relative;
    padding-top: 70px;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
  }

  .welcome__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 0;
    margin: 0 auto;
    max-width: 985px;
  }

  .welcome__wrapper > div {
    width: 50%;
  }

  .welcome__img {
    display: block;
  }

  .welcome__img--wrapper {
    text-align: center;
    position: relative;
  }

  .welcome__img--wrapper::after {
    content: "";
    display: block;
    background-image: url("./images/pink-brush.png");
    background-image: url("./images/pink-paint.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right top;
    width: 70%;
    height: 100%;
    position: absolute;
    right: -90px;
    bottom: 0;
    top: 35%;
    z-index: -1;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
  }

  .welcome__img--wrapper img {
    max-width: 400px;
    display: block;
    margin-left: auto;
  }

  .welcome .section__title {
    max-width: 425px;
  }

  .welcome .section__subtitle {
    margin-left: 0;
    max-width: 425px;
  }

  /* --trending-- */
  .trending {
    padding-bottom: 8px;
    margin-top: 0;
  }
  .trending__outline {
    text-align: left;
    max-width: 1280px;
    transform: translateX(-50%);
    left: 50%;
    top: -56px;
  }
  .trending__outline div {
    font-size: 115px;
    letter-spacing: 10px;
    line-height: 105.5px;
  }
  .trending__outline div:nth-child(n + 4) {
    display: block;
  }
  .trending__cta--m {
    display: none;
  }
  .trending__cta--d {
    display: block;
    text-align: right;
    z-index: 2;
    position: relative;
    margin-right: 85px;
  }
  .trending__cta--d a {
    text-decoration: underline;
    font-weight: bold;
  }

  /* --Plan a NightOut-- */
  .nightout {
    background-image: url("./images/green-circle.svg"), url("./images/sea-green-circle.svg"), url("./images/golden-circle.svg");
    background-position: calc(100% + 70px) -110px, center calc(100% + 140px), -165px 320px;
    padding-bottom: 160px;
    padding-top: 32px;
    background-size: 200px;
  }

  .nightout .section__title {
    margin-bottom: 1.5em;
    margin-top: 64px;
  }

  .nightout .container {
    max-width: 1164px;
    padding: 1rem;
  }

  .nightout__cards {
    max-width: 85%;
    margin: 0 auto;
  }

  .nightout__card.hover .hover-content {
    opacity: 1;
    height: 100%;
    transform: translateY(0%);
  }

  .nightout__card.hover .nightout__card-image img {
    filter: grayscale(0);
    filter: none;
  }

  .nightout__card.card-1.hover .nightout__card--borders {
    border-color: #ed5a9c;
  }

  .nightout__card.card-1.hover .nightout__card-content {
    background-color: #ed5a9c;
  }

  .nightout__card.card-1.hover .nightout__card-btn .btn {
    color: #ed5a9c;
  }

  .nightout__card.card-2.hover .nightout__card--borders {
    border-color: #f79d31;
  }

  .nightout__card.card-2.hover .nightout__card-content {
    background-color: #f79d31;
  }

  .nightout__card.card-2.hover .nightout__card-btn .btn {
    color: #f79d31;
  }

  .nightout__card.card-3.hover .nightout__card--borders {
    border-color: #00abc8;
  }

  .nightout__card.card-3.hover .nightout__card-content {
    background-color: #00abc8;
  }

  .nightout__card.card-3.hover .nightout__card-btn .btn {
    color: #00abc8;
  }

  .nightout__card.card-4.hover .nightout__card--borders {
    border-color: #b7d259;
  }

  .nightout__card.card-4.hover .nightout__card-content {
    background-color: #b7d259;
  }

  .nightout__card.card-4.hover .nightout__card-btn .btn {
    color: #b7d259;
  }

  /* cta banner*/
  .cta__banner .container {
    padding-bottom: 32px;
    max-width: 1018px;
  }

  .cta__banner .section__title {
    max-width: 550px;
    font-size: 44px;
    line-height: 1.4;
    margin-bottom: 20px;
  }

  .cta__banner .container::after {
    background-image: url("./images/cta-banner.png");
    right: 0;
    left: 447px;
    background-size: 100%;
    width: 555px;
    height: 350px;
  }

  /* --Fomo section-- */
  .fomo__section {
    padding-top: 52px;
  }

  .fomo__section .section__title {
    margin-bottom: 16px;
  }

  .fomo__animation--desktop {
    margin-top: -100px;
    margin-bottom: -150px;
    padding: 0 40px;
  }

  .fomo__animation--mobile {
    display: none;
  }

  .fomo__animation--desktop {
    display: block;
  }

  /* --what we do-- */
  .whatwedo .container {
    max-width: 1164px;
  }

  .whatwedo .section__title {
    margin-top: 70px;
    margin-bottom: 90px;
  }

  .whatwedo__cards {
    display: flex;
    justify-content: center;
    padding-bottom: 80px;
  }

  .whatwedo__card {
    flex-direction: column;
  }

  .whatwedo__card > div {
    width: 296px;
    max-width: 297px;
    min-height: 246px;
    height: 50%;
    justify-content: center;
  }

  .whatwedo__card-content {
    text-align: center;
  }

  .whatwedo__card-title {
    font-size: 20px;
    line-height: 1.4;
  }

  .whatwedo__card-text {
    font-size: 15px;
    max-width: 210px;
    margin: 24px 0;
    margin-left: auto;
    margin-right: auto;
  }

  .whatwedo__card-link a {
    font-size: 15px;
  }

  .whatwedo__card.card-2 .whatwedo__card-content {
    text-align: center;
  }

  .whatwedo__card.card-1 .whatwedo__card-content::before {
    background-image: url("./images/pink-paint-d.png");
    left: -35px;
    top: -42px;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
  }

  .whatwedo__card.card-2 .whatwedo__card-content::before {
    background-image: url("./images/orange-paint-d.png");
    width: calc(100% + 20px);
    top: -55px;
  }

  .whatwedo__card.card-3 .whatwedo__card-content::before {
    background-image: url("./images/green-paint-d.png");
    top: calc(100% - 80px);
    right: 0;
    width: calc(100% + 20px);
    left: -44px;
  }

  /* --PaintNite.Hey-- */
  .pnHey {
    background-image: url(./images/purple-paint.png), url(./images/pink-paint.png);
    background-repeat: no-repeat;
    background-position: -17% top, calc(100% + 176px) bottom;
    background-size: 320px;
    padding-bottom: 70px;
  }

  .pnHey .container {
    max-width: 960px;
    padding-top: 60px;
    padding-bottom: 80px;
  }

  .pnHey__wrapper {
    display: flex;
  }

  .pnHey .pnHey__content .pnHey__images {
    display: none;
  }

  .pnHey__gallery {
    display: block;
    width: 50%;
    text-align: left;
  }

  .pnHey__gallery img {
    max-width: 350px;
  }

  .pnHey__content {
    text-align: right;
    width: 50%;
  }

  .pnHey .section__title {
    text-align: left;
  }

  .pnHey p {
    font-size: 15px;
    margin-left: auto;
    max-width: 445px;
    text-align: left;
    margin-left: 0;
  }

  .pnHey .section__subtitle {
    font-size: 19px;
    line-height: 1.25;
    max-width: 300px;
    margin-left: auto;
    margin-right: 0;
    margin-bottom: 30px;
    text-align: left;
    margin-left: 0;
  }

  .pnHey__btn {
    text-align: left;
  }

  .pnHey .primary__btn {
    font-size: 14px;
    text-align: center;
    padding: 10px 22px;
  }

  /* Rewards banner */
  .rewards__banner {
    margin-top: 40px;
    margin-bottom: 30px;
  }

  .rewards__banner .section__title {
    margin-left: 0;
    text-align: left;
    line-height: 1.3;
  }

  .rewards__btn {
    text-align: left;
  }

  .rewards__btn .primary__btn {
    font-size: 14px;
    text-align: center;
  }

  .rewards__banner .container {
    position: relative;
    max-width: 922px;
  }

  .rewards__banner::before {
    top: calc(100% - 65px);
  }

  .rewards__images {
    justify-content: flex-end;
  }

  .rewards__images .img-1 {
    order: 2;
    top: 40px;
  }

  .rewards__images .img-2 {
    top: -128px;
  }

  /* --Social media section-- */
  .social__section {
    background-position: -180px 28px;
  }

  .social__section .section__title {
    max-width: 450px;
    margin-top: 0;
    margin-bottom: 16px;
  }

  .social__hastag {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 32px;
    color: var(--pink);
    margin: 32px 0 16px;
  }

  .social__gallery {
    max-width: 650px;
    justify-content: center;
  }

  .social__gallery img {
    max-width: calc(33% - 20px);
    height: 100%;
  }

  .social__outline {
    text-align: left;
    margin-top: -285px;
    background-image: url("./images/social-outline-bg.svg");
    background-repeat: no-repeat;
    background-position: calc(100% + 30px) -150px;
  }

  .social__outline div {
    font-size: 72px;
  }

  .social__gallery img:nth-child(n + 5) {
    display: block;
  }
  /* Email form subscription */
  .email__subs .container {
    max-width: 1164px;
    padding: 1rem;
  }
  .form__wrapper {
    transform: scale(1);
  }
  .email__subs {
    padding: 70px 0;
  }
}
